@charset "UTF-8";
body,
html {
  width: 100%;
}

.wwa-text {
  margin-top: 50px;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+74,ffffff+100 */
  background: #f1f1f1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #7cd2cd;
}

hr.light {
  border-color: #fff;
}

.bg-primary {
  background-color: #7cd2cd !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 3rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.section-title {
  text-align: center;
  color: #7cd2cd;
  font-size: 2em;
}

.section-hr {
  margin-bottom: 40px;
}

.close-button {
  display: none;
}

.projects-list {
  width: 240px;
  position: fixed;
  z-index: 9999999;
  background: white;
  height: 100%;
  overflow-y: auto;
  transition: 0.5s left linear;
  top: 0;
  left: -240px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.219608);
}

.projects-list .project-item {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: #7cd2cd;
  cursor: pointer;
}

.projects-list .project-item:active {
  background-color: #7cd2cd;
  color: #fff;
}

.close-list {
  text-align: center;
  color: #7cd2cd;
  padding: 20px;
  border-bottom: 2px solid #7cd2cd;
  cursor: pointer;
}

#open-projects-btn {
  outline: 0;
  position: absolute;
  z-index: 9999;
  margin: 10px;
  /* margin-left: 37%; */
  border: none;
  color: #fff;
  background-color: #41898c;
  border-radius: 6px;
  font-weight: 700;
  border-bottom: 1px solid #3a3636;
  padding: 3px;
  cursor: pointer;
  bottom: 10%;
  right: 42%;
  width: 15%;
  height: 35px;
  font-size: 1em;
}

#open-projects-btn svg {
  height: 14px;
  width: 14px;
  fill: white;
}

@media screen and (max-width: 768px) {
  #open-projects-btn {
    font-size: .6em;
    left: 26%;
    width: 40%;
  }
}

#home-btn-check {
  outline: 0;
  position: fixed;
  z-index: 9999;
  margin: 10px;
  border: none;
  color: #fff;
  background-color: #41898c;
  border-radius: 6px;
  font-weight: 700;
  border-bottom: 1px solid #3a3636;
  padding: 3px;
  cursor: pointer;
  bottom: 0;
  top: 0;
  right: 2.5%;
  width: 12%;
  height: 35px;
  font-size: 1em;
}

#home-btn-check svg {
  height: 14px;
  width: 14px;
  fill: white;
}

@media screen and (max-width: 768px) {
  #home-btn-check {
    font-size: .6em;
    width: 35%;
  }
}

#open-projects-btn-check {
  outline: 0;
  position: fixed;
  z-index: 9999;
  margin: 10px;
  border: none;
  color: #fff;
  background-color: #41898c;
  border-radius: 6px;
  font-weight: 700;
  border-bottom: 1px solid #3a3636;
  padding: 3px;
  cursor: pointer;
  bottom: 0;
  left: 0;
  top: 0;
  right: 42%;
  width: 12%;
  height: 35px;
  font-size: 1em;
}

#open-projects-btn-check svg {
  height: 14px;
  width: 14px;
  fill: white;
}

@media screen and (max-width: 768px) {
  #open-projects-btn-check {
    font-size: .6em;
    width: 35%;
  }
}

.text-primary {
  color: #7cd2cd !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #7cd2cd;
  border-color: #7cd2cd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #69cbc6 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.project-name {
  color: #7cd2cd;
  font-size: 2em;
  margin-top: 30px;
}

.project-landing {
  position: relative;
}

.project-landing .mac-img {
  width: 60%;
}

.project-landing .mac-inner-img {
  position: absolute;
  left: 30.6%;
  width: 38.1%;
  top: 14%;
}

.project-landing .mob-img {
  width: 15%;
  position: absolute;
  left: 20%;
  top: 40%;
}

.project-landing .mob-inner-img {
  position: absolute;
  width: 8.9%;
  top: 45.3%;
  left: 23%;
}

.project-desc {
  font-size: 12px;
  margin-top: 40px;
  padding: 0 30px;
  color: #797979;
}

.landing-page-desc {
  color: white;
  font-size: 16px;
  margin-top: 12px;
  text-align: center;
  line-height: 22px;
}

.ml2 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.mobile-showcase {
  position: relative;
}

.mobile-showcase .dummy-image {
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .mobile-showcase .dummy-image {
    display: none;
  }
}

.mobile-showcase .app-img {
  width: 100%;
  position: absolute;
  top: -6%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .mobile-showcase .app-img {
    display: none;
  }
}

.mobile-showcase .app-img-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: -6%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .mobile-showcase .app-img-mobile {
    display: block;
    position: relative;
  }
  .mobile-showcase .app-img-mobile img {
    background-size: cover;
  }
}

.mobile-showcase .app-inner-img {
  position: absolute;
  width: 25.6%;
  top: 12%;
  left: 57.2%;
  transform: scaleY(1.01) rotate(-2deg) skew(-1deg, -4.2deg) translate(1.2px, -1.8px);
}

@media screen and (max-width: 768px) {
  .mobile-showcase .app-inner-img {
    width: 50%;
    top: 50%;
    left: 28.2%;
    transform: rotate(0.2deg);
  }
}

.mobile-landing .project-name {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 7%;
  z-index: 9999;
  text-align: left;
  margin-left: 3%;
}

@media screen and (max-width: 768px) {
  .mobile-landing .project-name {
    text-align: center;
    top: 3%;
    width: 100%;
    color: #325856;
  }
}

@media screen and (max-width: 350px) {
  .mobile-landing .project-name {
    font-size: 1.5em;
    top: 4%;
  }
}

.mobile-landing .project-desc {
  font-size: 1em;
  margin-top: 40px;
  padding: 0 30px;
  color: white;
  position: absolute;
  top: 16%;
  z-index: 999;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .mobile-landing .project-desc {
    font-size: 10px;
    padding: 0 10px;
    margin-top: 0px;
    line-height: 16px;
    width: 100%;
    opacity: 0.9;
    color: #325856;
    font-weight: 700;
  }
}

.landing-image-wrapper {
  text-align: center;
}

.portfolio-landing-image {
  width: 50%;
  z-index: 1;
}

.desktop-landing {
  margin-top: 70px;
}

#c {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -10;
}

blockquote {
  font-size: 1.7em;
}

@media screen and (max-width: 768px) {
  blockquote {
    font-size: .8em;
  }
}

blockquote p {
  text-align: center;
  color: #fff;
  letter-spacing: .1rem;
}

blockquote p span {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}

p {
  quotes: "“" "”" "‘" "’";
}

p:before {
  margin-right: .8rem;
}

p:after {
  content: close-quote;
}

p:before, q:after {
  color: #ccc;
  font-size: 4rem;
}

.screenshots-wrapper {
  display: flex;
  justify-content: center;
}

.screenshots-wrapper .screenshot-div {
  cursor: pointer;
  overflow: hidden;
  border: 2px solid white;
}

.screenshots-wrapper .screenshot-div .screenshot-img {
  width: 100%;
  transition: 2s all;
  position: relative;
}

.screenshots-wrapper .screenshot-div .screenshot-img:hover {
  transform: scale(1.1);
}
