.project-landing {
  position: relative;
}

.project-landing .mac-img {
  width: 60%;
}

.project-landing .mob-img {
  width: 15%;
  position: absolute;
  left: 20%;
  top: 40%;
}

    .back {
        font-family: Helvetica sans-serif;
        padding: 0;
        margin: 0;
        background-color: #222;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .info {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 15px;
        color: #eee;
        font-size: 13px;
        background-color: rgba(0, 0, 0, .5);
    }

