.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.project-name {
    color: $primary;
    font-size: 2em;
    margin-top: 30px;
}

.project-landing {
    position: relative;
    .mac-img {
        width: 60%;
    }
    .mac-inner-img {
        position: absolute;
        left: 30.6%;
        width: 38.1%;
        top: 14%;
    }
    .mob-img {
        width: 15%;
        position: absolute;
        left: 20%;
        top: 40%;
    }
    .mob-inner-img {
        position: absolute;
        width: 8.9%;
        top: 45.3%;
        left: 23%;
    }
}

.project-desc {
    font-size: 12px;
    margin-top: 40px;
    padding: 0 30px;
    color: #797979;
}

.landing-page-desc {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
    line-height: 22px;
}

.ml2 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.mobile-showcase {
    position: relative;
    .dummy-image {
        width: 100%;
        opacity: 0;
        @media screen and (max-width: 768px) {
               display: none;
        }
    }
    .app-img {
        width: 100%;
        position: absolute;
        top: -6%;
        left: 0;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    
    .app-img-mobile {
        display: none;
        width: 100%;
        position: absolute;
        top: -6%;
        left: 0;
        @media screen and (max-width: 768px) {
            display: block;
            position: relative;
            img {
                background-size: cover;
            }
        }
    }
    .app-inner-img {
        	position: absolute;
            width: 25.6%;
            top: 12%;
            left: 57.2%;
            transform: scaleY(1.01) rotate(-2deg) skew(-1deg,-4.2deg) translate(1.2px,-1.8px);
        @media screen and (max-width: 768px) {
            width: 50%;
            top: 50%;
            left: 28.2%;
            transform: rotate(0.2deg)
        }
        
        
    }
}

.mobile-landing {
    .project-name {
        color: white;
        font-size: 2em;
        position: absolute;
        top: 7%;
        z-index: 9999;
        text-align: left;
        margin-left: 3%;
        @media screen and (max-width: 768px) {
            text-align: center;
            top: 3%;
            width: 100%;
            color: $text-color-darkblue;
        }
        
         @media screen and (max-width: 350px) {
                font-size: 1.5em;
                top: 4%;
        }
    }
    .project-desc {
        font-size: 1em;
        margin-top: 40px;
        padding: 0 30px;
        color: white;
        position: absolute;
        top: 16%;
        z-index: 999;
        width: 40%;
        @media screen and (max-width: 768px) {
            font-size: 10px;
            padding: 0 10px;
            margin-top: 0px;
            line-height: 16px;
            width: 100%;
            opacity: 0.9;
            color: $text-color-darkblue;
            font-weight: 700;
        }
    }
}

.landing-image-wrapper {
    text-align: center;
}

.portfolio-landing-image {
  width: 50%;
    z-index: 1;
}

.desktop-landing {

margin-top: 70px;
}

#c {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10;
}



blockquote {
  font-size: 1.7em;
  @media screen and (max-width: 768px) {
      font-size: .8em;
      
  }
}

blockquote p {
  text-align: center;
  color: #fff;
  letter-spacing: .1rem;
}
blockquote p span {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
p {
  quotes: "“" "”" "‘" "’";
}
p:before {

    margin-right: .8rem;
}
p:after {
  content: close-quote;
}
p:before, q:after {
  color: #ccc;
  font-size: 4rem;
}
