.screenshots-wrapper {
      display: flex;
    justify-content: center;

  .screenshot-div {
        cursor: pointer;
        overflow: hidden;
        border: 2px solid white;
        .screenshot-img {
            width: 100%;
            transition: 2s all;
            position: relative;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
