// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$text-black: #3b3b3b;
$primary: #7cd2cd !default;
$secondary: #7cd2cd !default;
$text-color-blue: #7cd2cd;
$text-color-darkblue: #325856;
